.contactsection{
    width: 100%;
    height: 100%;
    padding: 10% 15% 15% 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contactsection-head {
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    color: #D1002C;
}


.contactsection h1{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 23px;
}

.contactsection-para{
    color: #808080;
    width: 70%;
    text-align: center;
}

.contact-hero{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-bottom: 10%;
    margin-top: 10%;
}

.contact-hero .left{
    background-color: #f3f3f3;
    padding: 5%;
    width: 70%; 
    height: auto;
    
}
.contact-hero .right{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: start;
    gap: 30px;
    
}

.contact-hero .right h3{
    font-size: 15px;
    font-weight: 500;
}

.contact-hero .right p{
    color: #D1002C;

}

.right-details{
    display: flex;
    flex-direction: row;
    gap: 10px;

}


.right-details-icnos{

    background-color: #D1002C;
    color: white;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
}





.fields{
    width: 100%;
    padding: 13px;
    border-radius: 2px;
    margin-bottom: 10px;
    border: 1px solid white;
}

.fields::placeholder{
    font-size: 13px;
    color: black;
    font-weight: 400;
}
.contact-from-button{
    width: 35%;
    border-radius: 2px;
    background-color: #D1002C;
    border: 2px solid #D1002C;
    font-size: 13px;
    padding: 11px;
}

.contact-from-button:hover{
    background-color: #D1002C;
    border: 2px solid #D1002C;
}

.form-message{
    margin-bottom: 10px;
    border: 1px solid white;
    height: 150px;
}


.form-message::placeholder{
    font-size: 13px;
    color: black;
    font-weight: 400;
}


.form-input-flex{
    display: flex;
    flex-direction: row;
    gap: 20px;
}



.mapouter {
    position: relative;
    text-align: right;
    width: 100%; 
    height: 400px; 
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%; 
    height: 100%; 
}
.gmap_iframe {
    width: 100% !important; 
    height: 100% !important; 
}





@media (max-width:600px)
{

    .contactsection{
    
        padding: 10% 5% 15% 5%;
      
    }

    .contact-hero{
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10%;      
    }

    .contact-hero .left {
        order: 1;
        width: 100%;
    }

    .contact-hero .right {
        order: 2;
        width: 100%;
    }
}